In [1]:
###-----------------
### Import Libraries
###-----------------

import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_squared_error
import numpy as np

import warnings
warnings.filterwarnings('ignore')

In [2]:
housing=pd.read_csv("Housing.csv")
dum_hous=pd.get_dummies(housing,drop_first=True)

dum_hous

,price,lotsize,bedrooms,bathrms,stories,garagepl,driveway_yes,recroom_yes,fullbase_yes,gashw_yes,airco_yes,prefarea_yes
0,42000.0,5850,3,1,2,1,True,False,True,False,False,False
1,38500.0,4000,2,1,1,0,True,False,False,False,False,False
2,49500.0,3060,3,1,1,0,True,False,False,False,False,False
3,60500.0,6650,3,1,2,0,True,True,False,False,False,False
4,61000.0,6360,2,1,1,0,True,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
541,91500.0,4800,3,2,4,0,True,True,False,False,True,False
542,94000.0,6000,3,2,4,0,True,False,False,False,True,False
543,103000.0,6000,3,2,4,1,True,True,False,False,True,False
544,105000.0,6000,3,2,2,1,True,True,False,False,True,False
545,105000.0,6000,3,1,2,1,True,False,False,False,True,False

In [3]:
train,test=train_test_split(dum_hous, test_size=0.3,random_state=23)

X_train=train.drop('price',axis=1)
y_train=train['price']
X_test=train.drop('price',axis=1)
y_test=train['price']

In [4]:
lr=LinearRegression()

lr.fit(X_train,y_train)

y_pred=lr.predict(X_test)

print(mean_squared_error(y_test,y_pred))

239992441.2181353

In [5]:
dtr=DecisionTreeRegressor(random_state=23)

dtr.fit(X_train,y_train)

y_pred = dtr.predict(X_test)

print(mean_squared_error(y_test,y_pred))

1104856.0209424084

In [6]:
#If values are not matching with same random_state,
#then one of the possibility for the error is "Different Versions of sk learn"