In [1]:
###-----------------
### Import Libraries
###-----------------

from sklearn.naive_bayes import BernoulliNB
import numpy as np
import pandas as pd

import warnings
warnings.filterwarnings('ignore')

In [2]:
tel=pd.read_csv('tel_bayes.csv')

tel.head()

  TT_gt_100  Gender    Response
0         y    male  not bought
1         n    male  not bought
2         n  female  not bought
3         n  female  not bought
4         n    male  not bought

In [3]:
dum_tel=pd.get_dummies(tel,drop_first=True)

nb=BernoulliNB(alpha=0,force_alpha=True)

In [4]:
x=dum_tel[['TT_gt_100_y','Gender_male']]

y=dum_tel['Response_not bought']

In [5]:
nb.fit(x,y)
tst=np.array([['n','female'],
              ['n','male'],
             ['y','female'],
             ['y','male']])

print(tst)

tst=pd.DataFrame(tst,columns=['TT_gt_100','Gender'])
print(tst)

dum_tst=pd.get_dummies(tst,drop_first=True)
nb.predict_proba(dum_tst)               # calculate posterior probability

[['n' 'female']
 ['n' 'male']
 ['y' 'female']
 ['y' 'male']]
  TT_gt_100  Gender
0         n  female
1         n    male
2         y  female
3         y    male

array([[0.31034483, 0.68965517],
       [0.06976744, 0.93023256],
       [0.87096774, 0.12903226],
       [0.52941176, 0.47058824]])

In [6]:
nb.predict(dum_tst)

array([ True,  True, False, False])