In [1]:
###-----------------
### Import Libraries
###-----------------

import numpy as np
import pandas as pd
from sklearn.model_selection import StratifiedKFold,GridSearchCV
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis,QuadraticDiscriminantAnalysis

import warnings
warnings.filterwarnings('ignore')

In [2]:
brupt=pd.read_csv('data.csv')

brupt.head()

,Bankrupt?,ROA(C) before interest and depreciation before interest,ROA(A) before interest and % after tax,ROA(B) before interest and depreciation after tax,Operating Gross Margin,Realized Sales Gross Margin,Operating Profit Rate,Pre-tax net Interest Rate,After-tax net Interest Rate,Non-industry income and expenditure/revenue,...,Net Income to Total Assets,Total assets to GNP price,No-credit Interval,Gross Profit to Sales,Net Income to Stockholder's Equity,Liability to Equity,Degree of Financial Leverage (DFL),Interest Coverage Ratio (Interest expense to EBIT),Net Income Flag,Equity to Liability
0,1,0.370594,0.424389,0.405750,0.601457,0.601457,0.998969,0.796887,0.808809,0.302646,...,0.716845,0.009219,0.622879,0.601453,0.827890,0.290202,0.026601,0.564050,1,0.016469
1,1,0.464291,0.538214,0.516730,0.610235,0.610235,0.998946,0.797380,0.809301,0.303556,...,0.795297,0.008323,0.623652,0.610237,0.839969,0.283846,0.264577,0.570175,1,0.020794
2,1,0.426071,0.499019,0.472295,0.601450,0.601364,0.998857,0.796403,0.808388,0.302035,...,0.774670,0.040003,0.623841,0.601449,0.836774,0.290189,0.026555,0.563706,1,0.016474
3,1,0.399844,0.451265,0.457733,0.583541,0.583541,0.998700,0.796967,0.808966,0.303350,...,0.739555,0.003252,0.622929,0.583538,0.834697,0.281721,0.026697,0.564663,1,0.023982
4,1,0.465022,0.538432,0.522298,0.598783,0.598783,0.998973,0.797366,0.809304,0.303475,...,0.795016,0.003878,0.623521,0.598782,0.839973,0.278514,0.024752,0.575617,1,0.035490

In [3]:
X=brupt.drop('Bankrupt?',axis=1)
y=brupt['Bankrupt?']

### Linear Descriminent Analysis

In [4]:

lda=LinearDiscriminantAnalysis()
kfold=StratifiedKFold(n_splits=5,shuffle=True,random_state=23)
params={'solver':['svd','lsqr','eigen']}

gcv=GridSearchCV(lda,param_grid=params,cv=kfold,scoring='neg_log_loss')
gcv.fit(X,y)

print(gcv.best_params_)
print(gcv.best_score_)

{'solver': 'lsqr'}
-0.1537499537668702

### Quadratic Descriminent Analysis

In [5]:
qda=QuadraticDiscriminantAnalysis()
kfold=StratifiedKFold(n_splits=5,shuffle=True,random_state=23)
params={}

gcv=GridSearchCV(lda,param_grid=params,cv=kfold,scoring='neg_log_loss')
gcv.fit(X,y)

print(gcv.best_params_)
print(gcv.best_score_)

{}
-0.22350064398738753

# Digit dataset

In [6]:
digitr=pd.read_csv('train.csv')

digitr.head()

,label,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [7]:
X=digitr.drop('label',axis=1)
y=digitr['label']

In [8]:
### Linear Descriminent Analysis

lda=LinearDiscriminantAnalysis()
kfold=StratifiedKFold(n_splits=5,shuffle=True,random_state=23)
params={'solver':['svd','lsqr','eigen']}

gcv=GridSearchCV(lda,param_grid=params,cv=kfold,scoring='neg_log_loss')
gcv.fit(X,y)

print(gcv.best_params_)
print(gcv.best_score_)

{'solver': 'lsqr'}
-0.7276239469600624

In [9]:
#Inferencing
bm_logistic=gcv.best_estimator_
test=pd.read_csv(r"test.csv")

y_pred=bm_logistic.predict(test)

submit_lg=pd.DataFrame({'ImageId':np.arange(1,28001),'label':y_pred})

submit_lg.to_csv(r"/home/dai/Desktop/Practical Machine Learning/Day-06/submitLDA.csv",index=False)

##0.86

# -------------------------------------------------------------------------------------------------------

In [10]:
### Quadratic Descriminent Analysis

qda=QuadraticDiscriminantAnalysis()
kfold=StratifiedKFold(n_splits=5,shuffle=True,random_state=23)
params={}

gcv=GridSearchCV(qda,param_grid=params,cv=kfold,scoring='neg_log_loss')
gcv.fit(X,y)

print(gcv.best_params_)
print(gcv.best_score_)

{}
-16.4016112958112

In [11]:
#Inferencing
bm_logistic=gcv.best_estimator_
test=pd.read_csv(r"test.csv")

y_pred=bm_logistic.predict(test)

submit_lg=pd.DataFrame({'ImageId':np.arange(1,28001),'label':y_pred})


submit_lg.to_csv(r"/home/dai/Desktop/Practical Machine Learning/Day-06/submitQDA.csv",index=False)

##0.53

In [12]:
#pICKEL AND JSON MODEL