In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_excel("[final] April 2015 to Nov 30 2019 - Transformed Jester Data - .xlsx",
                   header=None)

ratings = pd.melt(df, id_vars=0)
ratings.columns=["uid", "iid", "rating"]        #Sequence is standard
ratings = ratings[(ratings['rating']<=10) & (ratings['rating']>=-10)]

In [4]:
ratings

         uid  iid  rating
46200    112    7   -4.45
46233     75    7  -10.00
46282     73    7   -5.76
46286     67    7    9.04
46304    121    7    0.00
...      ...  ...     ...
1216420   33  158    0.00
1216425   67  158    2.73
1216433   50  158    0.41
1216439   26  158    0.65
1216440   64  158    0.00

[105948 rows x 3 columns]